<h1> T Stories </h1>

  <% @posts.each do |post| %>
    <div>
      <%= link_to post.title, post %>
      <p><%= truncate(post.content, length: 100, omission: '...(continued)') %></p>
    </div>
  <% end %>
<%= link_to 'Add new T Story', new_post_path %>

